@import "./BoxInformations/BoxInformations.scss";
@import "./BoxSchedule/BoxSchedule.scss";
@import "./BoxWaste/BoxWaste.scss";

@import "../../scss/scrollbar.scss";

.mapboxgl-popup {
	width: 90%;
	max-width: 90% !important;
	max-height: 80%;
	font-size: 11px;
	transform: none !important;
	margin: 2rem auto;
	position: relative !important;

	@media screen and (min-width: 800px) {
		width: 60%;
		max-width: 70% !important;
		font-size: 14px;
	}

	&-close-button {
		background-color: #ea1221 !important;
		color: #fff;
		border-radius: 2px !important;
		padding: 0 0.25rem;

		&:hover {
			background-color: #ff0011 !important;
			text-decoration: none;
		}
	}
	&-content {
		box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5) !important;
		border-radius: 6px !important;
		background: #f4f3f3 !important;
		padding: 0 !important;

		.popup_publicLandfill .box_content h1 {
			background: #006400;
		}

		.popup_privateLandfill .box_content h1 {
			background: #1c62e2;
		}

		.popup_secondhandAssociation .box_content h1 {
			background: #f7aa04;
		}

		.box_content {
			@include scrollbar;

			max-height: 420px;
			overflow-y: auto;

			@media screen and (min-width: 800px) {
				max-height: 500px;
			}

			h1,
			p,
			a {
				padding-bottom: 0;
			}

			h1 {
				padding: 1rem;
				text-align: center;
				font-size: 2em;
				margin-bottom: 1rem;
				margin-top: 0;
				color: white;
			}
		}
	}
}
