.box_waste {
	display: flex;
	margin: 1rem 0.2rem;

	.header_waste {
		display: grid;
		grid-template-columns: 0.25fr 0.6fr;

		@media screen and (min-width: 400px) {
			grid-template-columns: 0.25fr 1fr;
		}

		h3 {
			font-size: 1.2em;
			margin: 1rem 0.5rem 1rem 0;
			color: white;
			padding: 0;
			text-align: center;
		}
		@media screen and (min-width: 400px) {
			text-align: initial;
		}

		svg {
			margin: auto 0 auto 0.5rem;

			@media screen and (min-width: 374px) {
				margin: auto 0 auto 1rem;
			}

			@media screen and (min-width: 800px) {
				height: 2rem;
				width: 2rem;
				margin: auto;
			}
		}
	}

	.box_waste_authorized,
	.box_waste_forbidden {
		width: 50%;
		text-align: center;
		color: white;
		position: relative;

		ul {
			margin: 0;
			list-style-type: none !important;
			padding: 0 !important;
			padding-inline-start: 0 !important;
			border-top: 1.5px solid white;
			line-height: inherit !important;

			li {
				margin: 0 0.2rem;

				&:first-child {
					margin-top: 1rem;
				}

				&:last-child {
					margin-bottom: 1rem;
				}
			}
		}
	}

	.box_waste_authorized {
		border-right: 1.5px solid white;
		background-color: #9dcd5a;

		.header_waste {
			background-color: #32620e;
		}
	}
	.box_waste_forbidden {
		background-color: #ff6949;

		.header_waste {
			background-color: #bc1823;
		}
	}
}
