@import "./components/Popup.scss";

.wp-block-create-block-carte-decheteries-vaucluse {
	height: 70vh;
	width: 90vw;
	position: relative;
	margin: 2rem auto;

	.map-container {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;

		.mapboxgl-canvas-container {
			.mapboxgl-marker {
				width: 1.5rem;
				height: 1.5rem;
				cursor: pointer;

				&.marker-publicLandfill svg path {
					fill: #006400;
				}

				&.marker-privateLandfill svg path {
					fill: #1c62e2;
				}

				&.marker-secondhandAssociation svg path {
					fill: #f7aa04;
				}
			}
		}

		.mapboxgl-control-container {
			.mapboxgl-ctrl-bottom-right {
				.mapboxgl-ctrl-attrib-inner {
					#webinfab {
						font-weight: bold;
					}
				}
			}
		}
	}
}
