@import "./scrollbar.scss";

// Variables
$primary-color: #3386c0;
$secondary-color: #fbfcfd;
$hover-color: #99d2f9;
$font-size: 1em;
$font-weight: 600;
$border-radius: 33px;
$transition-time: 0.2s;

#filters-tab {
	position: absolute;
	opacity: 0;

	&-label {
		font-size: 12px;
		font-weight: $font-weight;
		text-align: center;
		top: 0;
		left: 0;
		height: 45px;
		width: 50px;
		padding: 3px;
		position: absolute;
		z-index: 200;
		background: #f9f8f8;
		border: 2px solid #080849;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.3s cubic-bezier(0.11, 0.65, 0.96, 0.64);
		margin-left: 0;

		&:before {
			content: "";
			position: absolute;
			background: url("./Icons/filtre.png") no-repeat center center;
			width: 16px;
			height: 16px;
			background-size: cover;
			top: 20px;
			left: 16px;
		}
	}
}
#filters-tab:checked {
	& ~ #filters-tab-label {
		left: 170px;
	}

	& ~ .filters-block {
		left: 0px;
	}
}

.filters-block {
	@include scrollbar;

	position: absolute;
	top: 0;
	background-color: $primary-color;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: default;
	padding: 10px;
	font-weight: $font-weight;
	overflow: auto;
	left: -170px;
	width: 170px;
	z-index: 250;
	transition: 0.3s cubic-bezier(0.11, 0.65, 0.96, 0.64);
	text-align: center;

	#reset-filters {
		position: sticky;
		z-index: 300;
		bottom: 0;
		left: 0;
		width: 95%;
		height: 40px;
		background-color: #fff;
		border-radius: 10px;
		border: 3px solid #080849;
		color: #080849;
		cursor: pointer;
		font-size: 12px;
		font-weight: $font-weight;
		transition: all $transition-time ease-in-out;
		padding: 0;
		text-decoration: none;

		&:hover {
			background-color: #080849;
			color: #fff;
		}

		&:active {
			transform: scale(0.98);
		}
	}

	.filter-group,
	.waste-filter-group {
		h5 {
			margin: 0 0 10px 0;
			font-size: 13px;
			font-weight: $font-weight;
			text-transform: initial;
			color: #fff;
			padding: 0;
		}

		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"] + label {
			background-color: $secondary-color;
			color: $primary-color;
			display: flex;
			justify-content: center;
			cursor: pointer;
			padding: 5px;
			border-radius: $border-radius;
			margin: 10px 0;
			font-size: 13px;

			&:hover {
				background-color: $hover-color;
				color: #a29898;
			}
		}
	}

	.waste-filter-group {
		input[type="checkbox"]:checked + label:before {
			content: "✔";
			color: green;
			position: absolute;
			left: 25px;
		}
	}

	.filter-group {
		.marker-icon {
			display: block;
			width: 16px;
			height: 16px;
			background-size: contain !important;
			background: no-repeat center center;
			z-index: 400;
			position: absolute;
			left: 25px;

			&.public-marker {
				background-image: url("./Icons/public-marker.png");
			}

			&.private-marker {
				background-image: url("./Icons/private-marker.png");
			}

			&.association-marker {
				background-image: url("./Icons/association-marker.png");
			}
		}

		& input[type="checkbox"] {
			& + label:hover,
			&:not(:checked) + label {
				background-color: $hover-color;
				color: #a29898;
			}

			&:not(:checked) + label {
				text-decoration: line-through #2b2a2a;
			}
		}
	}
}
